@import "tailwindcss";

body {
    @apply bg-blue-50;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

/* Animaciones para el modal */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

.animate-slideUp {
    animation: slideUp 0.3s ease-out;
}